#main{
    display: flex;
  justify-content: space-between;
}
body{
    background-color: #af3a07;
    padding: 25px;
    margin: 25px;
}
h1{
    color: blanchedalmond;
    text-align: center;
}
.tabla{
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 25px;
}
div{
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 5px;
}
a{
    text-decoration: underline brown;
    color: blanchedalmond;
}
h2{
    text-decoration: underline brown;
    color: blanchedalmond;
}
